

<mat-card class="not-subscribed">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Module not subscribed</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      <br> The Module is not scubscribed.
      <br>
      <br> Please contact Pine Street Consulting LLC.
      <br>
      <br> Ph: 848-248-0257
      <br> Email: <a href="mailto:vivek.shah@pinestreetconsulting.com?subject=Help with install new modles" style="color: rgb(51, 230, 230);">vivek.shah@pinestreetconsulting.com</a>
    </p>
  </mat-card-content>
</mat-card>
