
.wms-disp-card {
    /* min-width: 100%; */
    width: 200px;
    margin: 5px;
}

mat-card img {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width:auto;
    /* height:auto; */
    height: 200px;
    max-width:178px;
    max-height:200px;
    margin-top: auto;
    /* margin-bottom: auto; */
    justify-content: center;
}

.crossButton{
   border-radius: 25px;
   border: 3px solid yellow;
   width: 25px;
  height: 25px;
}


.excluded-item {
  background-color: red;
  z-index: 9999;
  top: 0;
  left: 0;
}
