<mat-card class="wms-disp-card" [ngClass]="{'excluded-item': !pvItem.isIncluded}">
  <mat-card-header *ngIf="!isReadOnly">
      <mat-icon fxLayoutAlign="right" class="not_interested" (click)="disableCard(pvItem)" color="accent" >not_interested </mat-icon>
  </mat-card-header>
  <img
    mat-card-image
    src="data:image/JPEG;base64,{{ pvItem.imgData }}"
    alt="{{ pvItem.id.itemNo }}"
    (click)="openLightBox(pvItem)"
  />
  <mat-card-content>
    Item#: {{ pvItem.id.itemNo }}<br />
    Ref#: {{ pvItem.refCode }}<br />
    Qty#: {{ pvItem.qty }}<br />
    pono: {{pvItem.pono}}
  </mat-card-content>
</mat-card>

