<mat-card class="not-subscribed" xmlns="http://www.w3.org/1999/html">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Download Software</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="container">
      <div class="portrait">
        <img src="./assets/imgs/app_soft_dwnld_img.jpg" alt="Software screens">
      </div>
      <div>
        <br>
        &nbsp;&nbsp;
        &nbsp;&nbsp;

      </div>
      <div class="top5">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Model Column -->
          <ng-container matColumnDef="Model">
            <th mat-header-cell *matHeaderCellDef><B>Model</B></th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
          </ng-container>

          <!-- Instructions Column -->
          <ng-container matColumnDef="Instructions">
            <th mat-header-cell *matHeaderCellDef><B>Instructions</B></th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="[element.href_instr]">{{element.instructions}}</a>
            </td>
          </ng-container>

          <!-- Software Link Column -->
          <ng-container matColumnDef="Software Link">
            <th mat-header-cell *matHeaderCellDef><B>Software Link </B></th>
            <!--<td mat-cell *matCellDef="let element"> {{element.software_link}}</td>-->
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="[element.href_software]">{{element.software_link}}</a>
            </td>
            <!--<td><mat-cell *matCellDef="let element; let row" [ngClass]="{'highlight': selectedRowIndex == row.id}"> {{element.software_link}} </mat-cell></td>-->
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>

