table {
  width: 65%;
}

.mat-row:nth-child(even) {
  /*background-color: #c8c8c8;*/
  border-bottom: 2px solid #1c1e22
}

.mat-header-row {
  background-color: #f89406;
}

.mat-header-row > .mat-header-cell {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

