.login-card {
  max-width: 400px;
  margin: 50px;
}
.login-icon{
  margin-top: 15px;
}
.login-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

