<div class="login-card" flex="40">
  <mat-card>
    <div fxLayout="row" fxLayoutGap="20px">
      <div><h1>Accutime watch Corp.</h1></div>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutGap="20px"  class="login-icon">
      <div><mat-icon inline="true">person</mat-icon></div>
      <div>Log In</div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field color="accent" class="full-width-input">
        <input
          matInput
          placeholder="Email"
          formControlName="userName"
          required
        />
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <p></p>
      <mat-form-field color="accent" class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <p></p>
      <button mat-raised-button color="accent" class="btn-block">Login</button>
    </form>
      <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-raised-button color="warn">Register</button>
      <button mat-button>fb</button>
      <button mat-button>Google</button>
    </mat-card-actions>
  </mat-card>
</div>
