<mat-form-field color="warn">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. mickey" />
</mat-form-field>
<div class="pv_container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Vew Name Column -->
    <ng-container matColumnDef="shortName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>View Name</th>
      <td mat-cell *matCellDef="let row">
        <a color="white" [routerLink]="['/prodview', row.id]">
          {{ row.shortName }}
        </a>
      </td>
    </ng-container>

    <!-- Cob Column -->
    <ng-container matColumnDef="cob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>cob</th>
      <td mat-cell *matCellDef="let row">{{ row.cob }}</td>
    </ng-container>

    <!-- Product View URL Column -->
    <ng-container matColumnDef="viewUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Product View URL
      </th>
      <td mat-cell *matCellDef="let row">
        <!-- <a color="white" [routerLink]="['/prodview', row.id]" > {{ row.shortName }} </a> -->
        <button mat-icon-button
          color="accent"
          matTooltip="Copy Product view link"
          (click)="copyHrefLink(row.id)"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- delete icon Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon color="accent"
        matTooltip="Delete Product view"
        (click)="deletePv(row)"
        >delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    color="warn"
    [pageSizeOptions]="getPageSizeOptions()"
  ></mat-paginator>
</div>
