
.v_container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-header-row {
  top: 0;
  z-index: 1;
  /* background-color: inherit; */
  background-color: #ff6e40;
  height: 30px;
}

.mat-row:nth-child(even) {
  background-color: #2e3338;
}

.mat-row:nth-child(odd) {
  background-color: #353a41;
}

.mat-row:hover {
  background-color: #49515a;
}

/*
-- needs to go in componnets sccs file, so when you change theme all colors change
@import "~theme.scss"
 .mat-header-cell{
  font-family: Verdana, Sans-Serif;
  font-size: 14px;
  color: mat-color($primaryPalette);
}
*/

 .mat-header-cell{
  font-family: Verdana, Sans-Serif;
  font-size: 14px;
  color: black;
}

.mat-cell >  a:link {
  /* font-family: Verdana, Sans-Serif; */
  color: white;
  background-color: transparent;
}

.mat-cell > a:visited {
  /* font-family: Verdana, Sans-Serif; */
  color: white;
  background-color: transparent;

}

.mat-cell >  mat-icon{
  cursor: pointer;
}
