:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*
button {
  margin-left: 3rem;
}
*/

.logo {
  background: url(../assets/imgs/accutime-logo.png) center / contain no-repeat;
  width: 200px;
  height: 46px;
  float: left;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: #fff;
  line-height: inherit;
}

/*
    float: left;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
*/

.content {
  padding-left: 5rem;
  padding-right: 3rem;
}

.avatar{
background : url(../assets/imgs/accutime-logo.png)
}
