<mat-toolbar>
  <button mat-button logo>
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">menu</mat-icon>
  </button>
  <button mat-button routerLink="/prodviewlist">Accutime</button>

  <span fxFlex></span>

  <span fxFlex></span>
  <!-- <button mat-raised-button routerLink="/login" *ngIf="!isLoggedIn" >Login</button> -->
  <!-- <button mat-raised-button routerLink="/logout" (click)="onLogout()" *ngIf="isLoggedIn">
    <mat-icon class="logout-icon"  inline=true>logout</mat-icon>Logout</button> -->

  <button mat-button routerLink="/download">Download</button>
  <span class="toolbar-spacer"></span>

 <img class="mat-prof"   [matMenuTriggerFor]="profileMenu" *ngIf="isLoggedIn" />

  <!-- <div mat-card-avatar class="avatar-prof" [matMenuTriggerFor]="profileMenu"   *ngIf="isLoggedIn"></div> -->
  <!-- src="http://i.pravatar.cc/300" -->
  <!-- <button class="mat-profile-avatar"  [matMenuTriggerFor]="profileMenu">  </button> -->
  <mat-menu #profileMenu="matMenu">
<!--     <button mat-menu-item routerLink="/userProflie">Profile</button> -->
    <button color="accent" mat-button routerLink="/logout" (click)="onLogout()">
      <mat-icon class="logout-icon" inline="true">logout</mat-icon>Logout
    </button>
  </mat-menu>

<!--   <mat-icon
    class="toolbar-icon"
    matBadge="8"
    matBadgePosition="after"
    matBadgeColor="accent"
    >notifications</mat-icon
  > -->
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened
    *ngIf="isLoggedIn"
  >
    <mat-list id="menus">
      <mat-list-item>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{currentUser.username}}</mat-card-title>
          </mat-card-header>
        </mat-card>
      </mat-list-item>
      <mat-list-item>
        <button primary class="menu-item" mat-flat-button routerLink="/prodviewlist">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/createPv">
          <mat-icon>summarize</mat-icon>
          Create PV
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/notLoaded">
          <mat-icon>request_quote</mat-icon>
          RFQ
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/notLoaded">
          <mat-icon>local_shipping</mat-icon>
          Shippping
        </button>
      </mat-list-item>
      <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <button class="menu-item" mat-flat-button fxLayoutAlign="space-between center"  routerLink="/notLoaded">
              <mat-icon>auto_awesome_motion</mat-icon>
                Reports
            </button>
        </mat-expansion-panel-header>
          <mat-list-item routerLink="/notLoaded">
            <button class="menu-item" mat-flat-button fxLayoutAlign="space-between center"  routerLink="/notLoaded">
              <mat-icon>directions_boat</mat-icon>

              OTW
            </button>
          </mat-list-item>

      </mat-expansion-panel>
    </mat-accordion>



      <mat-divider></mat-divider>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/notLoaded">
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/notLoaded">
          <mat-icon>tasks</mat-icon>
          Tasks
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/notLoaded">
          <mat-icon> notifications_active</mat-icon>
          Alerts
        </button>
      </mat-list-item>


    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <div class="content" layout-fill layout-align="center center">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
