<div class="left-margin">
<div>
  <mat-card class="create-pv-card" flex="80" >
    <div fxLayout="row"  fxFlexAlign="stretch">
      <div><h3>Create Product View</h3></div>
    </div>
    <mat-divider></mat-divider>

    <form [formGroup]="createPvForm">
       <div fxLayout="row wrap"  fxLayoutGap="40px" >

        <mat-form-field color="accent" class="full-width-input" fxFlexAlign="center">
          <input
            matInput
            placeholder="Short Name"
            formControlName="pvShortName"
            required
          />
          <mat-error>
            Please provide a Product View ShortName
          </mat-error>
        </mat-form-field>
        <mat-form-field color="accent" class="full-width-input" fxFlexAlign="center">
          <input
            matInput
            placeholder="Full Name"
            formControlName="pvFullName"
            required
          />
          <mat-error>
            Please provide a Product View name
          </mat-error>
        </mat-form-field>
        <mat-form-field color="accent" class="form-element">
          <textarea matInput placeholder="Items List" matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4" formControlName="itemsList" ></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap"  fxLayoutGap="40px">

      <mat-form-field color="accent" class="full-width-input">
        <input
          matInput
          placeholder="item (Prefix)"
          formControlName="itemPrefix"
        />
      </mat-form-field>
      <mat-form-field color="accent" class="full-width-input">
        <input
          matInput
          placeholder="Item# (From)"
          formControlName="itemNoFrom"
        />

      </mat-form-field>

      <mat-form-field color="accent" class="full-width-input">
        <input matInput placeholder="Item# (To)" formControlName="itemNoTo" />
      </mat-form-field>
      </div>
      <div class="form-element">
        <mat-checkbox formControlName="itemIncludeAll" value="1"
          >Allow All <br> ( Include 0 Qty)</mat-checkbox
        >
      </div>

      <div fxLayout="row wrap"  fxLayoutGap="40px">

                <mat-form-field color="accent" class="full-width-input">
                  <input matInput placeholder="Pono From#" formControlName="ponoFrom" />
                </mat-form-field>
                <mat-form-field color="accent" class="full-width-input">
                  <input matInput placeholder="Pono To#" formControlName="ponoTo" />
                </mat-form-field>
          <!--       <mat-form-field color="accent" class="full-width-input">
                  <input matInput placeholder="Customers" formControlName="customers" />
                  <mat-hint>
                    Select Customers (Optional)
                  </mat-hint>
                </mat-form-field>
          -->

          <div color="accent" class="full-width-input">
            <ng-select
            [multiple]="true"  [closeOnSelect]="false" [searchable]="false" style="width:230px;"
              placeholder="Customer" formControlName="customers">
              <ng-option *ngFor="let cust of customerSource" [value]="cust">{{cust}}</ng-option>
            </ng-select>
          </div>
      </div>
      <div fxLayout="row wrap"  fxLayoutGap="40px">
          <div color="accent" class="full-width-input">
            <ng-select
            [multiple]="true"  [closeOnSelect]="false" [searchable]="false" style="width:230px;"
              placeholder="Category" formControlName="categories">
              <ng-option *ngFor="let cat of categorySource" [value]="cat">{{cat}}</ng-option>
            </ng-select>
          </div>
            <div color="accent" class="full-width-input">
              <ng-select
              [multiple]="true"  [closeOnSelect]="false" [searchable]="false" style="width:230px;"
                placeholder="Brand" formControlName="brands">
                <ng-option *ngFor="let val of brandSource" [value]="val">{{val}}</ng-option>
              </ng-select>
            </div>

            <div color="accent" class="full-width-input">
              <ng-select
              [multiple]="true"  [closeOnSelect]="false" [searchable]="false" style="width:230px;"
                placeholder="Type" formControlName="types">
                <ng-option *ngFor="let val of typeSource" [value]="val">{{val}}</ng-option>
              </ng-select>
            </div>

     </div>
     <div fxLayout="row"  fxFlexAlign="stretch">
      <div><h3></h3></div>
    </div>

      <mat-divider></mat-divider>
      <p></p>
      <mat-card-actions>
        <div fxLayout="row wrap"  fxLayoutGap="40px">
          <button mat-raised-button color="accent" class="btn-block action_button" [disabled]="errorsOnForm()" (click)="searchItems()"> Search </button>
          <button mat-raised-button color="accent" class="btn-block action_button" [disabled]="errorsOnForm()" (click)="createPv()" > Create Pv</button>
          <button mat-raised-button color="accent" class="btn-block action_button" [disabled]="errorsOnForm()" (click)="createPvExcel()" > Create Excel </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<div mat-line></div>

<div mat-line></div>

<div fxLayout="row wrap" fxLayoutWrap class="cards">
  <div *ngFor="let pvItem of pvItems">
    <app-item-card [pvItem]="pvItem"></app-item-card>
  </div>
</div>

</div>
