.create-pv-card {
  max-width: 80%;
  height: 100%;
  flex: 1 1 auto;
}


textarea {
  overflow-y: scroll;
  resize: none;
}

.action_button {
  width: 110px;
}

.left-margin {
  max-width: 100%;
  margin: 5px;
}


/*encapsulation: ViewEncapsulation.None // Add this line*/
