/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 13px; }




#toolbarMenu {
  cursor: pointer;
  margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
  flex: 1 1 auto;
}

.button .avatar2 {
  background-image: url('http://i.pravatar.cc/300') no-repeat;
  background-size: cover;
}


#avatar {

  background-position: Xpx Xpx;
  background-size: cover;
}

.mat-prof{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background: url(assets/imgs/default_accutime_avatar.jpg) no-repeat center center;
  background-size:contain
}

#mainToolbar .toolbar-icon {
  cursor: pointer;
  margin: 0 8px;
}

#sidenavContainer {
  margin-top: 64px;
  overflow-x: hidden;
}
mat-sidenav-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.mat-drawer-inner-container{
  overflow-x: hidden  !important;
}

#sidenav {
  width: 160px;
  overflow-x: hidden;
}

#sidenav.menu-close {
  width: 70px;
  overflow-x: hidden;
}

#sidenav.menu-open {
  width: 160px;
  overflow-x: hidden;
}

#sidenav .avatar {
  background-image: url(assets/imgs/default_accutime_avatar.jpg);
  background-size: cover;
}

#sidenav .mat-list-item-content {
  padding: 0;
}

#sidenav .menu-item {
  width: 100%;
  border-radius: 0;
  text-align: left;
  padding: 10px;
  overflow-x: hidden;
}

#sidenav .menu-item:hover {
background: #80CBC4;
}

#sidenav .menu-item mat-icon {
  margin-right: 20px;
  margin-left: 12px;
}

.dash-list h3 {
  padding: 12px;
}

.multiselect-dropdown .dropdown-list {
  background: #424242;
}

.mat-expansion-panel-header{
  padding: 3px !important;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button,
.mat-flat-button,.mat-fab, .mat-mini-fab {
  font-size: 13px;
}

.mat-list-base .mat-list-item {
  font-size: 12px;
}

