
/*

@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@include mat-core();

//-----
//'#23d18b' &&  03DAC6 grean/teal
// gray for bg: 303030  #mat-dark-theme-background
// gray 2ndary: 424242
// total black primary: 141414


$candy-app-accent:  mat-palette($mat-teal, A200, A100, A400);

//$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($candy-app-accent, 500, 900, A100);
//$my-app-warn: mat-palette($mat-deep-orange);
//$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

//???@include angular-material-theme($my-app-theme);


//"./node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css"

$my-app-primary: mat-palette($mat-blue-gray);
$my-app-accent: mat-palette($mat-teal, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

*/

@import '~@angular/material/theming';
@include mat-core();

$ip-primary: mat-palette($mat-indigo);
$ip-accent: mat-palette($mat-teal, A200, A100, A400);
$ip-warn: mat-palette($mat-deep-orange, A200, A400, A700);
//$ip-theme: mat-light-theme($ip-primary, $ip-accent);
$ip-theme-dark: mat-dark-theme($ip-primary, $ip-accent,$ip-warn);

@include angular-material-theme($ip-theme-dark);

@import "~@ng-select/ng-select/themes/default.theme.css";
//@import "~@ng-select/ng-select/themes/material.theme.css";
