<div>
  looooooooooo ddeedddddd

  User Id: <input type="text" [(ngModel)]="userId" />
  <button color="primary" mat-raised-button (click)="getInfo()">
   get profile
  </button>
</div>
      <p>UserId: {{ response?.id}}</p>
      <p>Email: {{ response?.email}}</p>
      <p>First Name: {{ response?.firstName}}</p>
      <p>Last Name: {{ response?.lastName}}</p>
      <p>Address : {{ response?.address}}</p>
      <p>Address2 :{{ response?.address1}}</p>

      <div
  class="container"
  fxLayout
  Fxlayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.fxFlex.xs="0"
>
  <div class="item " fxFlex="80%">
    <div class="container" fxLayout >
      <p>{{ response?.id}}</p>
      <p>{{ response?.email}}</p>
      <p>{{ response?.firstName}}</p>
      <p>{{ response?.lastName}}</p>
      <p>{{ response?.address}}</p>
      <p>{{ response?.address1}}</p>
    </div>
    <div class="item h2">
      Division
    </div>
  </div>
</div>

